[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dinesh Thirumurthy (hakrdinesh)
[access "refs/for/refs/*"]
	read = group user/Dinesh Thirumurthy (hakrdinesh)
	push = group user/Dinesh Thirumurthy (hakrdinesh)
	label-Code-Review = -2..+2 group user/Dinesh Thirumurthy (hakrdinesh)
	label-Verified = -1..+1 group user/Dinesh Thirumurthy (hakrdinesh)
	rebase = group user/Dinesh Thirumurthy (hakrdinesh)
	removeReviewer = group user/Dinesh Thirumurthy (hakrdinesh)
	submit = group user/Dinesh Thirumurthy (hakrdinesh)
[access "refs/heads/*"]
	read = group user/Dinesh Thirumurthy (hakrdinesh)
	create = group user/Dinesh Thirumurthy (hakrdinesh)
	push = +force group user/Dinesh Thirumurthy (hakrdinesh)
	pushMerge = group user/Dinesh Thirumurthy (hakrdinesh)
[access "refs/tags/*"]
	push = group user/Dinesh Thirumurthy (hakrdinesh)
	push = +force group user/Dinesh Thirumurthy (hakrdinesh)
